/* This file is used to write custom css for the application */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(241, 245, 241);
}

.logo-img {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
}

/* navigation menu styles starts */

.nav-menu:hover {
  color: #f49d19;
  transition: 0.25s;
}

.nav-menu > :active {
  color: #f49d19;
}
.menu-underline {
  position: relative;
  color: black;
}

.menu-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.title-underline {
  position: relative;
}

/* listing title style on profile page starts */

.title-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0e2f4f;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.title-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* listing title style on profile page ends */

/* navigation menu styles ends */
.border {
  border: 1px solid rgb(241, 245, 241);
}

/* create listing page styling starts */

.border-bg {
  border-color: #d1d5db;
}
.border-bg1 {
  border-color: #f49d19;
}
